{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<section class="login-section">
  <div class="login-container">
      <div class="login-box">
          <div class="login-content">
              <h1 class="login-title">Sign in to your account</h1>
              <form class="login-form" method="post">
                  {% if error %}
                      <div class="form-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                  {% endif %}
                  <div>
                      <label for="username" class="login-label">Username:</label>
                      <input type="text" value="{{ last_username }}" name="_username" id="username" class="login-input" required autofocus>
                  </div>
                  <div>
                      <label for="password" class="login-label">Password:</label>
                      <input type="password" name="_password" id="password" class="login-input" required>
                  </div>
                  <div class="login-remember">
                 <div class="login-remember-checkbox">
                        <input id="remember" aria-describedby="remember" type="checkbox" class="login-checkbox">
                    <label for="remember" class="login-remember-text">Remember me</label>
                </div>
                </div>
                  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                  <button type="submit" class="login-button">Sign in</button>
                  <p class="login-signup-text">
                      Don’t have an account yet? <a href="{{ path('app_register') }}" class="login-signup-link">Sign up</a>
                  </p>
              </form>
          </div>
      </div>
  </div>
</section>
{% endblock %}

