{% extends 'base.html.twig' %}
{% block title %} {{ "Zdrasti be" }} {% endblock %}
{% block body %}
<h1 class="text-4xl">main</h1>

<div>
    Kazhi be {{ estates|length }} imoti! <br>
    eto ti edno: {{ myEstate.description }}
    <a href="{{ path('app_estate_show', {'id': myEstate.id}) }}">View</a>
</div>
{% endblock %}