{% extends 'base.html.twig' %}
{% block title %} {{ "Zdrasti be" }} {% endblock %}
{% block body %}
<h1>Zdrasti be!</h1>

<div>
    Kazhi be {{ estates|length }} imoti! <br>
    eto ti edno: {{ myEstate.description }}
</div>
{% endblock %}